<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/additonal.css" rel="stylesheet">
    <style>
      body {padding-left: 15%; padding-right: 15%; padding-top: 8%;}
    </style>
  </head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Aling Nena's</a>
      </div>
      <ul class="nav navbar-nav">
        <li> <a href="/">The Philippines' Finest</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/about">The Aling Nena Story</a></li>
        <li><a href="/products">All Products</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
<h1> The Aling Nena Story </h1>
<p> Aling Nena's origins are often the subject of urban myth around these parts of the country. Some say she was a disgraced daughter of some haciendero. Others tell of a woman who raised in the toughest streets of Tondo. Some will even tell you of her more...otherworldly origins.</p>
<p> Everyone agrees, however, that Aling Nena is most probably the kindest woman you will find in the country. This is despite her celebrity status, which owes to the fact that her two daughters, Margarita and Katrina, are some of the country's formost intellectuals. The success of her daughters, as well as Margarita's controversial decision to accept the Canadian government's offer to help build their equivalent of the NSA—contrary to rumors that she moved for a guy (she is a strong, independent woman at heart, as all women should have the right to be), inexplicably propelled her sari-sari store to unprecedented success. Aling Nena's Sari-Sari Store has averaged a million customers a year since her daughters became (in)famous, including President Benigno Aquino III, Vice President and Feeling President Jejomar Binay, I-Can't-Believe-You're-A-Senator Nancy Binay, <del>Ex-Convict</del> Mayor Joseph Estrada, The Immortal Senator Juan Ponce Enrile, and, of course, the Most Serene and Enlightened Oprah Winfrey of the Republic, Kris Aquino. </p>
<p>
</body>
</html>

